#chart {
    width: 90%;
    height: 70%;
    position: absolute;
    text-align: center;
}

.chart-container {
    margin: 50px;;
}

svg {
    color: white;
    font-size: 30px;
}

.svg-container {
    display: flex;
    justify-content: center;
}

.button-div {
    text-align: center;
    margin-bottom: 32px;
}

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
    background-color: #2196f3;
    color: white;
}

button:hover {
    color:#000000;
    background-color: #FFFFFF;
    cursor: pointer;
}